<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">ngx-pipe</h1>
        <p class="lead">Angular pipes library.</p>
        <hr class="my-4">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="display-4 size-2">Currency</h2>
      <hr class="my-4">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">EUR</h5>
            <p><span [innerText]="125.64 | vlahioEUR"></span></p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">USD</h5>
            <p><span [innerText]="125.64 | vlahioUSD"></span></p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">GBP</h5>
            <p><span [innerText]="125.64 | vlahioGBP"></span></p>
          </div>
        </div>
      </div>

      <pre><code class="language-html">
        &lt;span [innerText]="125.64 | vlahioEUR"&gt;&lt;/span&gt;

        &lt;span [innerText]="125.64 | vlahioUSD"&gt;&lt;/span&gt;

        &lt;span [innerText]="125.64 | vlahioGBP"&gt;&lt;/span&gt;
      </code></pre>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h2 class="display-4 size-2">Date</h2>
      <hr class="my-4">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Today</h5>
            <p><span [innerText]="date | vlahioDate"></span></p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Today</h5>
            <p><span [innerText]="date | vlahioDate:'dd/MM/yyyy hh:mma':'UTC'"></span></p>
            <p><span [innerText]="date | vlahioDate:'dd/MM/yyyy hh:mma':'+0100'"></span></p>
          </div>
        </div>
      </div>

      <pre><code class="language-html">
        &lt;span [innerText]="date | vlahioDate"&gt;&lt;/span&gt;

        &lt;span [innerText]="date | vlahioDate:'dd/MM/yyyy hh:mma':'UTC'"&gt;&lt;/span&gt;
        &lt;span [innerText]="date | vlahioDate:'dd/MM/yyyy hh:mma':'+0100'"&gt;&lt;/span&gt;
      </code></pre>

      <pre><code class="language-typescript">
        {{'export class AppComponent {'}}
          date = new Date();
        {{'}'}}
      </code></pre>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h2 class="display-4 size-2">Various</h2>
      <hr class="my-4">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Numeric</h5>
            <p><span [innerText]="1140.56 | vlahioNumeric"></span></p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Split words</h5>
            <p><span [innerText]="'someRandomText' | vlahioSplitUcWords"></span></p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Highlight text</h5>
            <p><span [innerHTML]="text | vlahioHighlight:'text'"></span></p>
          </div>
        </div>
      </div>
      <pre><code class="language-html">
        &lt;span [innerText]="1140.56 | vlahioNumeric"&gt;&lt;/span&gt;

        &lt;span [innerText]="'someRandomText' | vlahioSplitUcWords"&gt;&lt;/span&gt;

        &lt;span [innerHTML]="text | vlahioHighlight:'text'"&gt;&lt;/span&gt;
      </code></pre>

      <pre><code class="language-typescript">
        {{'export class AppComponent {'}}
          text = 'This &lt;span class="text"&gt;text&lt;/span&gt; is long enough to help us make an idea of how this text will get highlighted each time the word text occurs.';
        {{'}'}}
      </code></pre>
    </div>
  </div>
</div>
